<!-- src/app/components/login/login.component.html -->
<div class="login-page">
    <div class="login-container">
      <div class="login-form">
        <h1>Bonjour!</h1>
        <p>Bienvenue sur TechTalentify</p>
        <form>
          <label for="login">Login</label>
          <input type="text" id="login" placeholder="Login" />
  
          <label for="password">Mot de passe</label>
          <input type="password" id="password" placeholder="Mot de passe" />
  
          <button type="submit">Connexion</button>
        </form>
      </div>
      <div class="login-image">
        <img src="assets/login-image.jpg" alt="Login Image" />
      </div>
    </div>
  </div>
  